.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  color: black;
}

dialog {
  background-color: black;
  z-index: 10;
}

.trackName {
  color: black
}

.trackBPM {
  color: black
}