.card {
  border: solid white 1px;
  border-radius: 5px;
  width: 300px;
  padding: 0px 5px 0px 5px;
  background-image: url("./setlistPaper.jpg"); 
  opacity: .8;
  margin: 10px;
}

.card-setListTitle {
  color: black;
  margin: 0px;
  text-align: center;
  font-size: 60px;
}

.setListButtons {
  margin-left: 4px;
  display: flex;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.setListNotes {
  color: black;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin: 0px 0px 15px 0px;
}

.metronomeContainer {
  align-self: center;
}