.practiceView {
  width: fit-content;
}

.metronome {
  color: white;
  text-align: -webkit-right;
  width: 296px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px;
  margin-top: 10px;
}

.metronome__bpm small {
  color: white;
  font-family: 'Varela', sans-serif;
}

dialog {
  background-color: black;
  color: white;
  z-index: 5;
  font-family: 'Varela', sans-serif;
}

.practiceViewContainer {
  display: flex;
  justify-content: center;
}