.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  color: black;
  gap: 15px;
}

.trackName {
  color: black
}

.trackBPM {
  color: black
}

dialog {
    text-align:center;
    position: fixed;
    bottom: 50%;
    z-index: 50;
    width: 120px;
    background-color: black;
    border:1px solid #6EA4BF;;
    font-family: 'Varela', sans-serif;
  }

h1 {
  font-family: 'Varela', sans-serif;
  text-align: center;
}