.practiceView {
  width: fit-content;
}

.metronome {
  color: white;
  text-align: -webkit-right;
  width: 10em;
  margin-left: 10px;
  border: 1px solid white;
}

dialog {
  background-color: black;
  color: white;
  z-index: 5;
  font-family: 'Varela', sans-serif;
}

.practiceViewContainer {
  display: flex;
  justify-content: center;
}