.card {
  border: solid white 1px;
  border-radius: 5px;
  width: fit-content;
  padding: 0px 5px 0px 5px;
  background-image: url("./setlistPaper.jpg"); 
  opacity: .8;
  margin: 10px;
}

.card-setListTitle {
  color: black;
  margin-top: 0px;
}

.setListButtons {
  text-align: right;
  margin-right: 10px;
}