body {
  color: white;
}

.songListCard {
  border: 1px solid white;
  display: flex;
  width: 350px;
  justify-content: space-between;
  border-radius: 10px;
  font-family: 'Varela', sans-serif;
}

.songListTrackName {
  color: white;
  margin-left: 5px;
}

.songListTrackBPM {
  border-left: solid 1px white;
  padding-left: 10px;
  padding-right: 10px;
  width: 75px;
  text-align: left;
  align-self: center;
}

.songListContainer {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.songListTrackButtons {
  width: 377px;
}


button {
  border-radius: 7px;
  margin: 0px 3px 3px 0px;
}

.songListCardContainer {
  margin: 10px 5px;
}