body {
  color: white;
}

.songListCard {
  border: 1px solid white;
  display: flex;
  width: 375px;
  justify-content: space-between;
  border-radius: 10px;
}

.songListTrackName {
  color: white;
  margin-left: 5px;
}

.songListTrackBPM {
  border-left: solid 1px white;
  padding-left: 10px;
  padding-right: 10px;
  width: 63px;
  text-align: left;
}

.songListContainer {
  margin-left: 10px;
}

.trackButtons {
  width: 377px;
}

button {
  border-radius: 7px;
}