div .trackCard {
  border: 1px solid black;
  display: flex;
  width: 375px;
  justify-content: space-between;
}

.trackName {
  padding: 0px 10px 0px 3px;
  /* color: white; */
}

.trackBPM {
  border-left: solid 1px black;
  padding-left: 10px;
  padding-right: 10px;
  width: 63px;
  text-align: left;
  /* color: white; */
}

.trackButtons {
  margin: 1px 10px 3px 0px;
}

