div .trackCard {
  border: 1px solid black;
  display: flex;
  width: 375px;
  justify-content: space-between;
  border-radius: 5px;
}

.trackName {
  padding: 0px 10px 0px 3px;
  font-size: 20px;
  font-weight: 550;
}

.trackBPM {
  border-left: solid 1px black;
  padding-left: 10px;
  padding-right: 10px;
  width: 75px;
  text-align: left;
  font-size: 20px;
  font-weight: 550;
  /* color: white; */
}

.songListTrackButtons {
  display: none;
}


.songListCard:hover + .songListTrackButtons {
  display: block;
}

.songListTrackButtons:hover {
  display: block;
}

.trackButtons {
  margin-top: 3px;
}
