body {
  color: white;
}



.songListCard {
  border: 1px solid white;
  display: flex;
  width: 375px;
  justify-content: space-between;
}

.songListTrackName {
  color: white
}

.songListTrackBPM {
  color: white;
}

.songListContainer {
  margin-left: 10px;
}

.trackButtons {
  width: 377px;
}