.navbar {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 0px;
  background-color: black;
    margin-top: 0px;
    padding-left: 5px;
    /* position: fixed; */
    width: 100%;
    z-index: 5;
    font-family: 'Varela', sans-serif;
}

.navbar__item {
  list-style-type: none;
}

.navbar__link {
  /* border: #B6B173 solid 1px; */
  color: #B6B173; 
  /* border-radius: 7px; */
  text-decoration: none; 
}

img {
  width: 100px;
  height: auto
}

li {
  display: table-cell;
  vertical-align: middle;
}

#navLogout {
  margin-right: 15px;
}